<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>parkingsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>com.parking.system.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientType</display-name>
    <servlet-name>ClientType</servlet-name>
    <servlet-class>com.parking.system.ClientType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientType</servlet-name>
    <url-pattern>/ClientType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardDataServlet</display-name>
    <servlet-name>DashboardDataServlet</servlet-name>
    <servlet-class>com.parking.system.DashboardDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardDataServlet</servlet-name>
    <url-pattern>/DashboardDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FloorMgt</display-name>
    <servlet-name>FloorMgt</servlet-name>
    <servlet-class>com.parking.system.FloorMgt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FloorMgt</servlet-name>
    <url-pattern>/FloorMgt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.parking.system.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.parking.system.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutClientServlet</display-name>
    <servlet-name>OutClientServlet</servlet-name>
    <servlet-class>com.parking.system.OutClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutClientServlet</servlet-name>
    <url-pattern>/OutClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageParkingServlet</display-name>
    <servlet-name>ManageParkingServlet</servlet-name>
    <servlet-class>com.parking.system.ManageParkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageParkingServlet</servlet-name>
    <url-pattern>/ManageParkingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.parking.system.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.parking.system.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopTimeServlet</display-name>
    <servlet-name>StopTimeServlet</servlet-name>
    <servlet-class>com.parking.system.StopTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopTimeServlet</servlet-name>
    <url-pattern>/StopTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleType</display-name>
    <servlet-name>VehicleType</servlet-name>
    <servlet-class>com.parking.system.VehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleType</servlet-name>
    <url-pattern>/VehicleType</url-pattern>
  </servlet-mapping>
</web-app>